:root {
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 1.2rem;

	--exact: green;
	--subset: orange;
	--nope: red;
	--invalid: red;
	--highlight: blue;
}

@media (prefers-color-scheme: dark) {
	:root {
		--exact: green;
		--subset: orange;
		--nope: deeppink;
		--invalid: deeppink;
		--highlight: yellow;
	}
}

select {
	font-size: inherit;
}

body {
	width: 60rem;
	max-width: 98vw;
	margin: auto;
}

.meeting {
	border-radius: 0.5em;
	padding: 0 1em;
	margin-block-end: 1em;
}

.meeting.exact {
	border: 4px solid var(--exact);
}

.meeting.subset {
	border: 4px solid var(--subset);
}

.meeting.nope {
	border: 4px solid var(--nope);
}

.meeting.invalid {
	border: 4px dashed var(--invalid);
}

.meeting>:first-child {
	margin-block-end: 0;
}

.meeting>p {
	margin-block-start: 0;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
}

.meeting>details:not([open]) {
	margin-block-end: 1rem;
}

summary {
	cursor: pointer;
}

dl {
	display: grid;
	grid-template-columns: max-content auto;
}

dt {
	font-weight: bold;
}

dt::after {
	content: ':'
}

:target.meeting {
	border: 4px solid var(--highlight);
}