:root {
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 1.2rem;

	--exact: green;
	--subset: orange;
	--nope: red;
	--invalid: red;
	--highlight: blue;
	--cancelled: gray;

	--toprule: 0.15em;
	--midrule: calc(0.5 * var(--toprule));
	--totally-rules: 0.01em;
}

@media (prefers-color-scheme: dark) {
	:root {
		--exact: green;
		--subset: orange;
		--nope: deeppink;
		--invalid: deeppink;
		--highlight: yellow;
	}
}

body {
	width: 60rem;
	max-width: 98vw;
	margin: auto;
}

select {
	font-size: inherit;
}

ul.clashing li {
	border-block-end: var(--totally-rules) solid currentColor;
}

.meeting {
	border-radius: 0.5em;
	padding: 0 1em;
	margin-block-end: 1em;
}

.meeting.exact {
	border: 4px solid var(--exact);
}

.meeting.subset {
	border: 4px solid var(--subset);
}

.meeting.nope {
	border: 4px solid var(--nope);
}

.meeting.invalid {
	border: 4px dashed var(--invalid);
}

.meeting.cancelled {
	border: 4px solid var(--cancelled);
}

:target.meeting {
	border: 4px solid var(--highlight);
}

.meeting>:first-child {
	margin-block-end: 0;
}

.meeting>p {
	margin-block-start: 0;
	font-size: 0.8em;
	display: flex;
	justify-content: space-between;
}

.meeting>details:not([open]) {
	margin-block-end: 1rem;
}

dl {
	display: grid;
	grid-template-columns: max-content auto;
}

dt {
	font-weight: bold;
}

dt::after {
	content: ':'
}

summary {
	cursor: pointer;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

table {
	margin: auto;
	border-collapse: collapse;
	position: absolute;
	left: 0;
	right: 0;
}

th {
	font-weight: bold;
}

th, td {
	padding-inline: 0.5em;
}

thead tr:first-child {
	border-block-start: var(--toprule) solid currentColor;
	border-block-end: var(--midrule) solid currentColor;
}

tr {
	border-block-end: var(--totally-rules) solid currentColor;
}

tr:last-child {
	border-block-end: var(--toprule) solid currentColor;
}

table ul {
	list-style-type: none;
	padding: 0;
}